.scroll::-webkit-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}
.scroll-bad-browsers {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.webSize {
    height: 300%;
    margin: 0;
}


.background-color {
    background-color: rgb(44, 44, 44);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
}

/* Text Color */
.text-gradient-bp {
    background-image: linear-gradient(0deg, rgb(32, 173, 255) , rgb(185, 65, 255) 80%);
    background-image: -webkit-linear-gradient(0deg, rgb(32, 173, 255) , rgb(185, 65, 255) 80%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.text-gradient-oy {
    background-image: linear-gradient(0deg, rgb(253, 168, 89) , rgb(255, 225, 53) 80%);
    background-image: -webkit-linear-gradient(0deg, rgb(253, 168, 89) , rgb(255, 225, 53) 80%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.text-plain {
    background-color: white;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.text-pink {
    background-color: rgb(185, 65, 255);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


/* Page 1 */

/* Header Main Text */
.p0-h1-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 36px;
    font-size: 9vw;
    letter-spacing: default;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
}

/* Header Second Text */
.p0-h2-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 8px;
    font-size: 2vw;
    letter-spacing: default;
    position: relative;
    left: 10%;
    box-sizing: border-box;
    border: 0 solid;
}

/* Header Third Text */
.p0-h3-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 4px;
    font-size: 1vw;
    font-style: oblique;
    letter-spacing: default;
    position: relative;
    left: 40%;
    top: 525px;
    box-sizing: border-box;
    border: 0 solid;
}

/* Background */
.p0-background {
    background-image: url("imgs/MainBackground.png");
    background-attachment: local;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
}

/* Page 1 Setup */
.page0-align {
    align-items: center;
    box-sizing: border-box;

    tab-size: 4;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
}

.page0-item-center {
    box-sizing: border-box;
    display: block;
    position: relative;
}

.page0-text0-position {
    margin-top: 400px;
}

.page0-socials-position {

}

/* Socials */
.discord {
    width: 120px;
    height: 120px;
    position: fixed;
    top: 90%;
    left: 55%;
}
.twitter {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 90%;
    left: 45%;
}
.github {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 90%;
    left: 50%;
}


/* Page 2 */

/* Text */
.p1-h1-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 16px;
    font-size: 4vw;
    letter-spacing: default;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
    padding-left: 25px;
}

.p1-h2-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 8px;
    font-size: 2vw;
    overflow-wrap: break-word;
    letter-spacing: default;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
}

/* Page 2 Setup */

.page1-item-center {
    box-sizing: border-box;
    display: block;
    position: relative;
}

.page1-text0-position {
    margin-top: 600px;
}

.page1-text1-position {
    box-sizing: content-box;
    width: 50%;
    margin-left: 105px;
}

/* Page 3 */

/* Text */
.p2-h1-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 16px;
    font-size: 4vw;
    letter-spacing: default;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
    padding-left: 25px;
}

.p2-h2-text {
    font-family: transat, sans-serif;
    font-weight: 1;
    font-size: 8px;
    font-size: 2vw;
    overflow-wrap: break-word;
    letter-spacing: default;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border: 0 solid;
}

/* Page 3 Setup */

.page2-item-center {
    box-sizing: border-box;
    display: block;
    position: relative;
}

.page2-text0-position {
    margin-top: 100px;
}

.page2-text-under-img-position {
    margin-top: 100px;
}


/* Images */

.row {
    display: flex;
    padding-left: 100px;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}


/* Footer */