---
import { Image } from 'astro:assets';

interface Props {
	image: ImageMetadata;
	wide?: boolean;
}

const { image, wide = false } = Astro.props;
---

<div class=`fade-in flex justify-center items-center w-full md:h-full ${wide ? 'md:max-w-2xl h-2xl col-span-2' : 'md:max-w-sm h-sm'}`>
    <div class=`${wide ? '' : 'aspect-square'} w-full h-full`>
        <Image class="object-contain w-full h-full rounded-lg" src={image} alt="Brand Logo" width="1280" height="1280"/>
    </div>
</div>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>