---
import FaIcon from "../components/FaIcon.astro";
import { Image } from "astro:assets";

import { faCopyright } from '@fortawesome/free-regular-svg-icons';

function calculateYear() {
    return new Date().getFullYear()
}
const year = calculateYear()
---

<div class="container mx-auto mb-0 p-12 gap-2 flex justify-center items-center flex-row rounded-lg shadow-2xl bg-light-50">
    <FaIcon icon={faCopyright} />
    <span class="text-xl font-normal text-center text-black">{year}, Frostagon LLC. All rights reserved.</span>
</div>