---
import FaIcon from "../components/FaIcon.astro";
import { Image } from "astro:assets";

import { faCopyright } from '@fortawesome/free-regular-svg-icons';

function calculateYear() {
    return new Date().getFullYear()
}
const year = calculateYear()
---

<div class="container mx-auto mb-0 p-12 gap-2 flex justify-center items-center flex-col md:flex-row rounded-lg shadow-2xl bg-light-50">
    <span class="inline-flex items-center gap-2 text-xl font-normal text-center text-black">
        <FaIcon icon={faCopyright} />
        <span>{year}, Frostagon LLC.</span>
    </span>
    <span class="text-xl font-normal text-center text-black">All rights reserved.</span>
</div>