---
import { Image } from 'astro:assets';

interface Props {
	body: string;
	image: ImageMetadata;
}

const { body, image } = Astro.props;
---

<div class="tag w-44 bg-light-100">
	<Image class="w-6 h-6" src={image} alt="" width="360" height="360"/>
	<span class="grow text-center">{body}</span>
</div>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.tag {
			@apply p-2 px-6 flex gap-4 items-center rounded-full text-base  font-normal text-nowrap text-black
		}
	}
</style>
